<div class="card">
  <div class="card-header">
    <h2 class="card-title">Departures</h2>
  </div>

  <div class="card-body">
    <div class="form-group">
      <label for="id">City:</label>
      <input id="id" [formControl]="control" class="form-control" />
    </div>

    @if (loading) {
    <p>Loading ...</p>
    }
  </div>
</div>

@if (flights(); as flightResult) {
  @if (flightResult.length) {
    <div class="card">
      <div class="card-body">
        <table class="table table-condensed">
          @for (f of flightResult; track f.id) {
            <tr>
              <td>
                <span class="badge badge-pill badge-info">
                  {{ f.id }}
                </span>
              </td>
              <td>{{ f.from }}</td>
              <td>{{ f.to }}</td>
              <td>{{ f.date | date : "dd.MM.yyyy HH:mm" }}</td>
            </tr>
          }
        </table>
      </div>
  </div>
  }
}
